@charset "UTF-8";

.cmd_mod_form{
	display: none;
}

#favoriteContainer{
    position: absolute;		/* 부모 엘리먼트에 구애 받지 않고, 자유로운 엘리먼트 배치 */
    right: 1200px;			/* 오른쪽에서 650px 떨어져야 한다는 의미 */
    top: 268px;				/* 위에서 268px 떨어져야 한다는 의미 */
    color: #0000ff;
    font-size: 30px;
    cursor: pointer;
}

.boardWrite a button{
	position: relative;
    left: 26em;
    top: 1em;
}

#searchWindow #searchType{
	position: relative;
    left: 92.5em;
    top: 1em;
}

#searchWindow > input{
	position: relative;
    left: 92.5em;
    top: 1em;
}

#listFrm > select{
	position: relative;
    left: 26em;
    bottom: .5em;
}

.pageContainer .page{
	cursor: pointer;
}

.page.selected{
	color: #e74c3c;
	font-weight: bold;
	font-size: 1.2rem;	/* rem : 비율을 뜻한다. 즉, 1.2배를 뜻한다.*/
}
/*
 position: static 속성을 가지고 있지 않은 부모를 기준으로 움직인다. 
  만약 부모 중에 포지션이 relative, absolute, fixed인 태그가 없다면,
  가장 위의 태그(body)가 기준이 된다. 
*/